<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Flaskr</title>
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="page">
    <h1>Flaskr</h1>

    <div class="metanav">
      {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
      {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
    </div>

    {% for message in get_flashed_messaged() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
  </div>
</body>
</html>
